<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/screen.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/smoothness/jquery-ui-1.8.23.custom.css">
    </head>

    <body class="{% block body-class %}base{% endblock %}">
        {% block body %}
        {% endblock %}
    </body>

    {% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.23.custom.min.js"></script>
    {% endblock %}

    {% block js-extra %}
    {% endblock %}

</html>

